@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About US";
}




<div class="page-content">

    <div class="title_wrap">
        <div class="container">
            <h3 class="page-title">About Us </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us </li>
                </ol>
            </nav>
        </div>
    </div>



    <section>
        <div class="container">
            <div class="box p">
            <div class="p_heading">
                    <span class="h_text">Company  <b>Overview</b></span>
            </div>

                <div class="page_right_img">
                    <img class="ab_img" src="/images/about_bg2.jpg" width="200" height="75" alt="">
                </div>

                <p class="text-uppercase"><strong>PropEquity Middle East:</strong> Pioneering Real Estate Solutions in Dubai</p>
                

            
                <p>PropEquity Middle East is a forward-thinking firm dedicated to transforming the real estate and hospitality sectors through specialized Consulting, Advisory, Asset & Investment Management services, and advanced data analytics. Co-owned by industry leaders—Mr. Panos Bonoutas, Mr. Sagar Ahuja, Mr. Abdulrahman Al Malik, and P.E. Analytics (Mr. Samir Jasuja) — We are poised for significant growth in the dynamic markets of the Middle East.</p>
                <p>Our mission is to deliver unparalleled expertise and innovative solutions tailored to the unique challenges and opportunities faced by our clients. By leveraging data-driven strategies, we empower stakeholders to enhance decision-making processes, optimize asset management, and ultimately achieve maximum investment returns. </p>
                <p>
                    As we embark on our expansion from Dubai to Riyadh and beyond, we remain steadfast in our commitment to a client-centric approach. Our focus is on creating value through strategic insights, fostering relationships built on trust, and adapting to the ever-evolving landscape of the real estate market. Our vision is to establish PropEquity Middle East as a leading provider of actionable intelligence in the region, underpinned by continuous innovation and responsiveness to market needs.
                </p>

                <p><strong>PropEquity Middle East is a dynamic firm</strong> specializing in Real Estate and Hospitality Consulting, Advisory, Asset & Investment Management services, and data analytics. The company, co-owned by Mr. Panos Bonoutas, Mr. Sagar Ahuja, Mr. Abdulrahman Al Malik, and P.E. Analytics (Mr. Samir Jasuja), has ambitious plans for growth.</p>
                <p><strong>PropEquity Middle East is committed to delivering expert</strong> solutions and strategic insights to clients in the real estate and hospitality sectors. The company leverages data-driven approaches to enhance decision-making and optimize asset management.</p>
                <p><strong>The business idea behind PropEquity Middle East</strong> is to provide expert Real Estate and Hospitality Consulting, Advisory, and Asset & Investment Management services, supported by cutting-edge data analytics.</p>
                <p><strong>The mission of PropEquity Middle East</strong> is to deliver unparalleled expertise and innovative solutions in Real Estate and Hospitality Consulting, Advisory, and Asset & Investment Management. By adopting a client-centric approach and eventually expanding operations from Dubai to Riyadh, the company aims to optimize asset value and investment returns.</p>
                <p><strong>PropEquity Middle East envisions</strong> strategic growth and global influence in the Real Estate and Hospitality industries. Following successful operations in Dubai and Riyadh, the company plans to expand its presence to other major cities across the Middle East and beyond. By continuously enhancing their consulting, advisory, and asset management services with advanced data analytics, PropEquity Middle East aims to become a leading international player known for delivering exceptional value and innovative solutions to clients worldwide.</p>

           

            </div>
        </div>
    </section>
</div>