@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Our History";
}
<div class="page-content">

    <div class="title_wrap">
        <div class="container">
            <h3 class="page-title">Our History </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Our History </li>
                </ol>
            </nav>
        </div>
    </div>



    <section>
        <div class="container">

            <div class="box p">
                <div class="p_heading">
                    <span class="h_text">Our  <b>History</b></span>
                </div>

                <div class="page_right_img">
                    <img class="ab_img" src="/images/our_history.png" width="200" height="75" alt="">
                </div>

                <p>PropEquity Middle East, in collaboration with P.E. Analytics Ltd, is introducing the innovative PropEquity platform to the Middle East. As a startup enterprise aiming to establish a strong presence in this region, PropEquity Middle East combines the successful track record of the PropEquity platform in India with invaluable local market knowledge.</p>
                <p>With a track record of empowering over 5,000 clients in India with data-driven real estate intelligence, PropEquity Middle East is now ready to extend these benefits to real estate investors, developers, and financial institutions in the Middle East.</p>
                <p>PropEquity has gained the trust of several leading funds, investment banks, institutions, and developers, resulting in the company achieving break-even in its first year of launch and profitability in its second year of operations. The strategic partnership with P.E. Analytics has further strengthened the company, with a leading global institutional alternative asset management firm acquiring a substantial stake. This association has resulted in significant capital infusion into PropEquity, enabling it to cater to over 100 institutional clients and experience continuous growth. In a recent and rare promoter buyback, Samir Jasuja has bought back the entire investor stake, demonstrating his belief and faith in PropEquity and its vision.</p>
                <p>P.E. Analytics has expanded its presence across India by diversifying its product range, applying its information and analytical skills to new industry sectors, and extending its geographic reach to over 44 cities. The company's success is driven by its expansion into new markets, product innovation, and leveraging its business intelligence and common platforms to quickly deploy new and innovative products for clients.</p>
                <p>Today, P.E. Analytics is recognized as India's gold standard for real estate intelligence and services, providing data and analytical tools to more than 100 clients across various industries. As a founding team, we combine P.E. Analytics' technological innovation with our decades of regional expertise in real estate consulting, advisory, and asset management. By customizing the PropEquity platform for the local market and expanding our coverage, our goal is to become the leading provider of actionable real estate intelligence in the Middle East.</p>
                <p>As pioneers in this sector within the region, PropEquity Middle East aims to build strong relationships with key real estate stakeholders, facilitating rapid expansion. Our platform, with real-time data on thousands of projects by prominent developers, is already proving invaluable to clients navigating the complex real estate investment landscape of the Middle East.</p>
                <p>Moving forward, PropEquity Middle East will focus on solidifying its position as the foremost provider of real estate data and analytics in the Middle East. Our ultimate vision is to achieve the same level of recognition and client success in this market as PropEquity enjoys in the Indian market today</p>


            </div>


        </div>
    </section>
</div>