@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Our Team";
}
<div class="page-content">

    <div class="title_wrap">
        <div class="container">
            <h3 class="page-title">Our Team</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Our Team </li>
                </ol>
            </nav>
        </div>
    </div>



    <section>
        <div class="container">

            <div class="box p">
                <div class="p_heading">
                    <span class="h_text">Our  <b>Team</b></span>
                </div>

                <div class="page_right_img">
                    <img class="ab_img" src="/images/our_team.png" width="200" height="75" alt="">
                </div>

                <p>In its inaugural year, PropEquity Middle East intends to hire four employees, expanding its workforce by an additional six employees in the second year. Initially, the company will focus on operating exclusively in Dubai, UAE. However, there are plans to extend its services to Riyadh, KSA in the second year.</p>
                <p>As a startup, PropEquity Middle East will be led by an experienced management team with deep expertise in real estate consulting, advisory services, asset management, and data analytics.</p>
                <p>The company will name Mr. Abdulrahman Al Malik as CEO during the first year of operations to provide leadership and direction as we establish our business in the region. With numerous years of experience in the real estate industry, Mr. Al Malik brings invaluable knowledge that will be critical for our launch and initial growth phase.</p>
                <p>Supporting business development efforts, we will appoint a Chief Business Development Officer and other consultants with solid experience in business development for numerous real estate service providers as we build partnerships and acquire clients across the region.</p>
                <p>Additionally, the partnership with Propequity India to support with specialized advisory services on an as-needed basis. This consultant partners has advised major real estate developers, REITs, financial institutions, and government agencies on billions of dollars worth of property assets globally.</p>
                <p>With this experienced leadership team and network of trusted consultants, PropEquity Middle East is well-positioned to deliver best-in-class real estate services and data-driven insights to clients across the Middle East.</p>


            </div>


        </div>
    </section>
</div>